
.expDetail-content h3 {
  /* Headers/H3 */
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;

  /* TextColors/Headers */
  color: #30233d;
}

.expDetail_subsection {
  margin-top: 6%;
}
.ellipse {
  background: rgba(246, 16, 103, 0.02);
  width: 10%;
  border: 1px solid #f61067;
  box-sizing: border-box;
  border-radius: 50%;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 163.35%;
  /* or 52px */
  color: #f61067;
}

.expDetail_subsection h2 {
  /* Title/Small */
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 800;
  font-size: 80%;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;

  /* Colors/Primary */
  color: #f61067;
}

.name {
  width: 50%;
  height: 40%;
}

.expDetail-overview {
  background: linear-gradient(216.68deg, #5e239d 0%, #b77fff 15.81%);
}

.expDetail-overview span {
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 163.35%;
  /* or 39px */

  color: #000000;

  margin-right: 36px;
}

.expDetail-overview h1 {
  font-weight: 800;
  font-size: 24px;
  line-height: 207.9%;
  /* or 50px */

  letter-spacing: 4px;
  text-transform: uppercase;

  color: #000000;
}

.expDetail-overview .location {
  margin-top: 26px;
}

.expDetail-overview .controls {
  margin-top: 52px;
}

.expDetail-content button,
.expDetail-content a {
  width: 134px;
  height: 39px;

  background: #f2c94c;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 163.35%;
  /* or 21px */

  text-align: center;

  color: #000000;

  margin-right: 36px;
}

#btn-availability {
  background: rgba(255, 255, 255, 0.31);
}

.quote {
  margin-top: 10%;

  width: 1000px;
  height: 700px;
  background: #5e239d;
}

.quote blockquote {
  /* Quote/Small */
  font-family: "Noticia Text";
  font-style: italic;
  font-weight: normal;
  font-size: 22.5px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Colors/White */
  color: #fcfcfc;
}
