.kaixinn {
  /* position: absolute; */
  width: 460px;
  height: 460px;
  /* left: 490px; */
}

.openQuote {
  /* position: absolute; */
  width: 92.25px;
  height: 79.73px;
  /* left: 679.3px;
    top: 500px; */
}

.aside {
  /* position: relative; */
  /* width: 50%; */
  height: 64px;
  /* left: 450px;
    top: 600px; */
  /* Quote/Large */
  font-family: Noticia Text;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
  /* identical to box height */
  text-align: center;
  /* TextColors/Headers */
  color: #30233d;
}

.subscribe {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 11.6px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 6px;
  height: 10%;
  text-transform: uppercase;
  /* Colors/Primary */
  color: #f61067;
}

.enter-email::placeholder {
  color: #b9bdbc;
  margin-left: 50%;
}
.enter-email {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 37px;
  /* identical to box height */
  letter-spacing: 4px;
  text-transform: uppercase;
  /* width:150% */
}
.newsletter {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  /* identical to box height */
  text-align: center;
  /* TextColors/Headers */
  color: #30233d;
}

.stay-tuned {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  /* TextColors/Maintext */
  color: #776c82;
}
