
h4 {
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  /* TextColors/Headers */
  color: #30233D;
}

p {
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163.35%;
  /* or 26px */

  color: #776C82;
}
