.FeatureStoryTitle{
  // position: absolute;
  //width: 30%;
  height: 650px;
  // left: 10%;
  // top: 120%;

  /* Headers/H3 */
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;

  /* TextColors/Headers */

  color: #30233D;
}


.learnmore{

  width: 190px;
  height: 45px;
  left: 18%;
  top: 110%;




  border-radius: 36px


}

.slider {
  //position: absolute;
  //

  top:10%;
  right: 4%;
  // top: 972px;
  overflow: hidden;
  white-space: nowrap;

  .slider-wrapper {
    // position: relative;
    height: 100%;
    width: 100%;

    .slide {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }


}

.right-arrow, .left-arrow {
  height:25px;
  width: 25px;

  /*display: flex;
  align-items: center;
  justify-content: center;*/
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;

  &:hover {
    transition: transform ease-in .1s;
    transform: scale(1.1)
  }
}



.right-arrow {
  //position: absolute;
  //  top: 50%;
  // right: 27%;
  z-index: 999;
  color: red;

  // img {
  //   transform: translate(50%, 40%);
  //
  //   &:focus {
  //     outline: 0;
  //   }
  // }
}

.left-arrow {
  // position: absolute;
  // top: 50%;
  // left: 500%;

  z-index: 999;
  color: red;

  // img {
  //   transform: translate(29%,40%);
  //
  //   &:focus {
  //     outline: 0;
  //   }
  // }
}