.StoryPage{
  position: relative;
width: 1441px;
height: 6564px;

background: #FFFFFF;
}



.StoryCover{
  position: absolute;
  width: 1441px;
  height: 828px;
  left: 0px;
  top: 0px;

  background-image: url('backgroundimg.png');


}

.headLine{
  position: absolute;
  width: 899px;
  height: 389px;
  left: 148px;
  top: 169px;
}

.AreYouReady{
  position: absolute;
width: 226px;
height: 18px;
left: 148px;
top: 169px;

/* Title/Medium */

font-family: Mplus 1p;
font-style: normal;
font-weight: 800;
font-size: 14.4px;
line-height: 30px;
letter-spacing: 4px;
text-transform: uppercase;

/* Colors/White */

color: #FCFCFC;
}

.nextCareerText{
position: absolute;
width: 899px;
height: 353px;
left: 148px;
top: 205px;

/* Headers/H1 */

font-family: Mplus 1p;
font-style: normal;
font-weight: 900;
font-size: 99px;
line-height: 118px;

color: #FCFCFC;
}
