.navFrame{
  position: absolute;
width: 1440px;
height: 168px;
left: 0px;
top: 0px;

background: #FFFFFF;
}

.nav{
  position: absolute;
width: 1046px;
height: 47px;
left: 148px;
top: 80px;
}

.YOLO{
  position: absolute;
left: 0%;
right: 92.64%;
top: 8.51%;
bottom: 0%;

font-family: Mplus 1p;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 43px;
/* identical to box height */

letter-spacing: 2px;

/* TextColors/Headers */

color: #30233D;
}

.Explore{
  position: absolute;
left: 18.45%;
right: 74.86%;
top: 23.4%;
bottom: 12.77%;

/* Text_Misc/Nav */

font-family: Mplus 1p;
font-style: normal;
font-weight: 800;
font-size: 14.4px;
line-height: 30px;
/* identical to box height */

letter-spacing: 2px;

/* TextColors/Headers */

color: #30233D;
}

.Story{
      position: absolute;
    left: 32.41%;
    right: 62.72%;
    top: 23.4%;
    bottom: 12.77%;

    /* Text_Misc/Nav */

    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: 2px;

    /* TextColors/Headers */

    color: #30233D;
    opacity: 0.8;
}

.HostExp{
    position: absolute;
    left: 44.55%;
    right: 38.24%;
    top: 21.28%;
    bottom: 14.89%;

    /* Text_Misc/Nav */

    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: 2px;

    /* TextColors/Headers */

    color: #30233D;
    opacity: 0.8;

}


.About{
    position: absolute;
  left: 69.02%;
  right: 25.72%;
  top: 21.28%;
  bottom: 14.89%;

  /* Text_Misc/Nav */

  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 2px;

  /* TextColors/Headers */

  color: #30233D;
  opacity: 0.8;
}




.Contact{
    position: absolute;
  left: 81.55%;
  right: 8.7%;
  top: 21.28%;
  bottom: 14.89%;

  /* Text_Misc/Nav */

  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 2px;

  /* TextColors/Headers */

  color: #30233D;

}
